@import '../../../styles/variables';
@import '../../../styles/mixins';


.button {
    min-width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    @include color__animation();
    @include flexbox($justify: center,
        $align-items: center)
}

.button:hover {
    background-color: $shadow-color;
}

.button:active {
    background-color: $blue-color;
    color: $white-color
}